<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://api.trello.com/1/client.js?key={8647cda40947c5f59daaa1c3f5173a1a}"></script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://api.trello.com/1/client.js?key={8647cda40947c5f59daaa1c3f5173a1a}"></script>


<h1>API TEST JOHAN</h1>

<p>8647cda40947c5f59daaa1c3f5173a1a      Johans Trello Key</p>


<p>HÄR KOMMER JAG TESTA ATT HÄMTA EN BOARD FRÅN TRELLO VIA API</p>

<button (click)="projektCounter()">HÄMTA</button>

<p>ANTAL BOARDS  : <strong>{{ projektCount }}</strong></p>

