<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>
<h2>Hej hej</h2>



<p>Current bock : <strong>{{ currentCount }}</strong></p>



<p>HEmma test</p>




<p>8647cda40947c5f59daaa1c3f5173a1a      Johans Trello Key</p>
<p>5e73a3d20653d1e9f97812fa1572a61499b84ffd6954f1b33f4f93d69fd0fdff         Johans token</p>


<p>9dc5e140e89bd1ff02b261a4ebeaf519      Martins MegaTrello key</p>
<p>6469b110f8d594da9783fed645a2a3753ee6920dcfe0c40ef38e61bdaf8454c1  Martins Megatrello token</p>


<p>6f43a3cb27280f6f0096e0261de07c68      Jabirs Trello Key</p>
<p>helt onödig kommentar</p>


<button (click)="incrementCounter()">Increment</button>
